<div class="wrapper customer-feedbacks text-center">

  <div><h1 class="fp-heading">What do our customers say?</h1></div>

  <div class="customer-feedback">
    <div class="customer-feedback-col customer-feedback-image">
      <img src="{{'feedback_1.jpg' | asset_url}}">
    </div>
    <div class="customer-feedback-col customer-feedback-info">
      <h1 class="customer-feedback-heading">{{settings.feedback_1_heading}}</h1>
      <div class="customer-feedback-text">{{settings.feedback_1_text}}</div>
    </div>
    <div class="customer-feedback-col customer-feedback-spacer"></div>
  </div>

  <div class="customer-feedback">
    <div class="customer-feedback-col customer-feedback-spacer"></div>
    <div class="customer-feedback-col customer-feedback-info">
      <h1 class="customer-feedback-heading">{{settings.feedback_2_heading}}</h1>
      <div class="customer-feedback-text">{{settings.feedback_2_text}}</div>
    </div>
    <div class="customer-feedback-col customer-feedback-image">
      <img src="{{'feedback_2.jpg' | asset_url}}">
    </div>
  </div>

  <div class="customer-feedback">
    <div class="customer-feedback-col customer-feedback-image">
      <img src="{{'feedback_3.jpg' | asset_url}}">
    </div>
    <div class="customer-feedback-col customer-feedback-info">
      <h1 class="customer-feedback-heading">{{settings.feedback_3_heading}}</h1>
      <div class="customer-feedback-text">{{settings.feedback_3_text}}</div>
    </div>
    <div class="customer-feedback-col customer-feedback-spacer"></div>
  </div>

  <div class="customer-feedback">
    <div class="customer-feedback-col customer-feedback-spacer"></div>
    <div class="customer-feedback-col customer-feedback-info">
      <h1 class="customer-feedback-heading">{{settings.feedback_4_heading}}</h1>
      <div class="customer-feedback-text">{{settings.feedback_4_text}}</div>
    </div>
    <div class="customer-feedback-col customer-feedback-image">
      <img src="{{'feedback_4.jpg' | asset_url}}">
    </div>
  </div>

</div>

