<div class="wrapper text-center clearfix featured-in">
  <div><h1 class="fp-heading">As seen in</h1></div>
  <div class="featured-in-image">
    {{ 'featuredin-vogue.png' | asset_url | img_tag }}
  </div>
  <div class="featured-in-image">
    {{ 'featuredin-gf.png' | asset_url | img_tag }}
  </div>

  <div class="featured-in-image">
    {{ 'featuredin-wired.png' | asset_url | img_tag }}
  </div>

  <div class="featured-in-image">
    {{ 'featuredin-lifehacker.png' | asset_url | img_tag }}
  </div>
  <div class="featured-in-image">
    {{ 'featuredin-dinside.png' | asset_url | img_tag }}
  </div>
  <div class="featured-in-image">
    {{ 'featuredin-dn.png' | asset_url | img_tag }}
  </div>
</div>
