{% if settings.home_page_content != blank %}
  <div>
  <div class="grid text-columns flexbox">
    <div class="grid__item one-whole medium--one-third large--one-third">
      <div class="rte text-center">
        <h2>{{ pages[settings.home_page_content].title }}</h2>
        {{ pages[settings.home_page_content].content }}
      </div>
    </div>
    <div class="grid__item one-whole medium--one-third large--one-third">
      <div class="rte text-center">
        <h2>{{ pages[settings.home_page_content_2].title }}</h2>
        {{ pages[settings.home_page_content_2].content }}
      </div>
    </div>
    <div class="grid__item one-whole medium--one-third large--one-third">
      <div class="rte text-center">
        <h2>{{ pages[settings.home_page_content_3].title }}</h2>
        {{ pages[settings.home_page_content_3].content }}
      </div>
    </div>
  </div>
  </div>
{% endif %}
