<div class="wrapper">
  <div class="tech-detail">
    <img class="tech-detail-image" src="{{'detail_1.jpg' | asset_url}}">
    <div class="tech-detail-info">
      <h1 class="tech-detail-heading">{{settings.detail_1_heading}}</h1>
      <div class="tech-detail-text">{{settings.detail_1_text}}</div>
    </div>
  </div>

  <div class="tech-detail">
    <div class="tech-detail-info">
      <h1 class="tech-detail-heading">{{settings.detail_2_heading}}</h1>
      <div class="tech-detail-text">{{settings.detail_2_text}}</div>
    </div>
    <img class="tech-detail-image" src="{{'detail_2.jpg' | asset_url}}">
  </div>

    <div class="tech-detail">
    <img class="tech-detail-image" src="{{'detail_3.jpg' | asset_url}}">
    <div class="tech-detail-info">
      <h1 class="tech-detail-heading">{{settings.detail_3_heading}}</h1>
      <div class="tech-detail-text">{{settings.detail_3_text}}</div>
    </div>
  </div>

</div>

<!--
      {
        "type": "image",
        "id": "detail_1.jpg",
        "label": "Image",
        "max-width": 600,
        "info": "600px wide required"
      },
      {
        "type": "text",
        "id": "detail_1_heading",
        "label": "Heading text"
      },
      {
        "type": "text",
        "id": "detail_1_text",
        "label": "Detail text"
      },

      -->
