<div class="wrapper tech-details">
  <div class="tech-detail clearfix">
    <img class="tech-detail-image" src="{{'detail_1.jpg' | asset_url}}">
    <div class="tech-detail-info">
      <h1 class="tech-detail-heading">{{settings.detail_1_heading}}</h1>
      <div class="tech-detail-text">{{settings.detail_1_text}}</div>
    </div>
  </div>

  <div class="tech-detail clearfix">
    <div class="tech-detail-info">
      <h1 class="tech-detail-heading">{{settings.detail_2_heading}}</h1>
      <div class="tech-detail-text">{{settings.detail_2_text}}</div>
    </div>
    <img class="tech-detail-image" src="{{'detail_2.jpg' | asset_url}}">
  </div>

    <div class="tech-detail clearfix">
    <img class="tech-detail-image" src="{{'detail_3.jpg' | asset_url}}">
    <div class="tech-detail-info">
      <h1 class="tech-detail-heading">{{settings.detail_3_heading}}</h1>
      <div class="tech-detail-text">{{settings.detail_3_text}}</div>
    </div>
  </div>

   <div class="tech-detail clearfix">
    <div class="tech-detail-info">
      <h1 class="tech-detail-heading">{{settings.detail_4_heading}}</h1>
      <div class="tech-detail-text">{{settings.detail_4_text}}</div>
    </div>
    <img class="tech-detail-image" src="{{'detail_4.jpg' | asset_url}}">
  </div>

   <div class="tech-detail clearfix">
   <img class="tech-detail-image" src="{{'detail_5.jpg' | asset_url}}">
    <div class="tech-detail-info">
      <h1 class="tech-detail-heading">{{settings.detail_5_heading}}</h1>
      <div class="tech-detail-text">{{settings.detail_5_text}}</div>
    </div>
  </div>

     <div class="tech-detail clearfix">
    <div class="tech-detail-info">
      <h1 class="tech-detail-heading">{{settings.detail_6_heading}}</h1>
      <div class="tech-detail-text">{{settings.detail_6_text}}</div>
    </div>
    <img class="tech-detail-image" src="{{'detail_6.jpg' | asset_url}}">
  </div>
</div>

<div class="tech-details-small">
  <div class="tech-detail clearfix">
    <img class="tech-detail-image" src="{{'detail_1.jpg' | asset_url}}">
    <div class="tech-detail-info">
      <h1 class="tech-detail-heading">{{settings.detail_1_heading}}</h1>
      <div class="tech-detail-text">{{settings.detail_1_text}}</div>
    </div>
  </div>

  <div class="tech-detail clearfix">
    <img class="tech-detail-image" src="{{'detail_2.jpg' | asset_url}}">
    <div class="tech-detail-info">
      <h1 class="tech-detail-heading">{{settings.detail_2_heading}}</h1>
      <div class="tech-detail-text">{{settings.detail_2_text}}</div>
    </div>
  </div>

    <div class="tech-detail clearfix">
    <img class="tech-detail-image" src="{{'detail_3.jpg' | asset_url}}">
    <div class="tech-detail-info">
      <h1 class="tech-detail-heading">{{settings.detail_3_heading}}</h1>
      <div class="tech-detail-text">{{settings.detail_3_text}}</div>
    </div>
  </div>

   <div class="tech-detail clearfix">
    <img class="tech-detail-image" src="{{'detail_4.jpg' | asset_url}}">
    <div class="tech-detail-info">
      <h1 class="tech-detail-heading">{{settings.detail_4_heading}}</h1>
      <div class="tech-detail-text">{{settings.detail_4_text}}</div>
    </div>
  </div>

   <div class="tech-detail clearfix">
   <img class="tech-detail-image" src="{{'detail_5.jpg' | asset_url}}">
    <div class="tech-detail-info">
      <h1 class="tech-detail-heading">{{settings.detail_5_heading}}</h1>
      <div class="tech-detail-text">{{settings.detail_5_text}}</div>
    </div>
  </div>

     <div class="tech-detail clearfix">
    <img class="tech-detail-image" src="{{'detail_6.jpg' | asset_url}}">
    <div class="tech-detail-info">
      <h1 class="tech-detail-heading">{{settings.detail_6_heading}}</h1>
      <div class="tech-detail-text">{{settings.detail_6_text}}</div>
    </div>
  </div>
</div>

