
<div class="over-the-crumb">
  <div class="video-overlay">
  <img src="{{ 'hero_video_overlay_logo.png' | asset_url }}"/>
  <h1>{{ settings.hero_video_overlay_heading }}</h1>
  <h3>{{ settings.hero_video_overlay_subtitle }}</h3>
  </div>
</div>
<video autoplay loop poster="{{ settings.hero_video_png_fallback | asset_url }}" id="bgvid">
  <source src="{{ settings.hero_video_webm | asset_url }}" type="video/webm">
  <source src="{{ settings.hero_video_mp4 | asset_url }}" type="video/mp4">
</video>
<script>
    $(".video-overlay").height($("#bgvid").height());
    $("#bgvid").on("canplay", function (e) { $(".video-overlay").height($(this).height())  });
  </script>

